/* SCSS Gradient */
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Poppins:wght@200;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
/*
for title
font-family: 'Alkatra', cursive;   
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
}

body {
  max-width: 1220px;
  margin-inline: auto;
}

/* nav styling */
nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  box-shadow: 0px 2px 0px black;
}
nav .header {
  display: flex;
  font-size: 1.5rem;
  padding: 0.75rem;
  margin-right: auto;
}
nav .header a {
  font-family: "Alkatra", cursive;
  padding: 0.5rem;
  color: rgb(31, 122, 140);
}
nav .header a em {
  color: rgb(31, 122, 140);
}
nav .header .menu {
  display: none;
}
nav .nav_links {
  display: flex;
  padding: 0.75rem;
  font-family: "Poppins", sans-serif;
}
nav .nav_links .nav_link {
  padding: 1rem;
}

/*panel styling */
.panel {
  width: 100%;
  aspect-ratio: 4/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.panel .img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 2;
  background: linear-gradient(0deg, rgba(1, 86, 103, 0.767) 10%, rgba(255, 255, 255, 0)), url("../assets/images/panel.jpg");
  background-position: center;
  filter: blur(2px);
  transition: all 0.3s ease-in-out;
}
.panel h2 {
  font-family: "Alkatra", cursive;
  font-weight: 400;
  color: rgb(225, 229, 242);
  font-size: 4rem;
  z-index: 3;
}
.panel p {
  color: rgb(225, 229, 242);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  z-index: 3;
}

/*recipe panel styling*/
.recipes {
  padding: 1rem;
}
.recipes h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Alkatra", cursive;
  font-weight: 400;
}
.recipes .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.recipes .cards .card {
  aspect-ratio: 3/2;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.recipes .cards .card .desc {
  width: 100%;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate(1rem, -1rem);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.recipes .cards .card .desc .title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.recipes .cards .card .desc .text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.recipes .cards .card .eggroll {
  background: linear-gradient(12deg, rgba(193, 240, 250, 0.641), rgba(188, 226, 234, 0.684), rgba(255, 255, 255, 0) 50%), url("../assets/images/eggroll.jpg");
}
.recipes .cards .card .chickenbiriyani {
  background: linear-gradient(12deg, rgba(193, 240, 250, 0.641), rgba(188, 226, 234, 0.684), rgba(255, 255, 255, 0) 50%), url("../assets/images/chickenbiriyani.jpg");
}
.recipes .cards .card .masaladosa {
  background: linear-gradient(12deg, rgba(193, 240, 250, 0.641), rgba(188, 226, 234, 0.684), rgba(255, 255, 255, 0) 50%), url("../assets/images/masaladosa.jpg");
}
.recipes .cards .card .samosa {
  background: linear-gradient(12deg, rgba(193, 240, 250, 0.641), rgba(188, 226, 234, 0.684), rgba(255, 255, 255, 0) 50%), url("../assets/images/samosa.jpg");
}
.recipes .cards .card .jaljeera {
  background: linear-gradient(12deg, rgba(193, 240, 250, 0.641), rgba(188, 226, 234, 0.684), rgba(255, 255, 255, 0) 50%), url("../assets/images/jaljeera.jpg");
}
.recipes .cards .card .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: 0;
}

/* mobile viwe styling */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 0;
  }
  nav .header:has(.menu_closed) + .nav_links {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }
  nav .header:has(.menu_open) + .nav_links {
    height: 14rem;
    transition: height 0.5s ease-in-out;
  }
  nav .header {
    padding: 0rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  nav .header a {
    padding: 0.5rem 1rem;
  }
  nav .header .menu {
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
  }
  nav .header .menu hr {
    width: 100%;
    height: 3px;
    background-color: rgb(2, 43, 58);
    border-radius: 3px;
    border-color: rgb(2, 43, 58);
    box-shadow: none;
  }
  nav .header .menu_open hr:nth-child(1) {
    animation: open1 0.3s ease-in-out forwards;
  }
  nav .header .menu_open hr:nth-child(2) {
    animation: open2 0.3s ease-in-out forwards;
  }
  nav .header .menu_open hr:nth-child(3) {
    animation: open3 0.3s ease-in-out forwards;
  }
  nav .header .menu_closed hr:nth-child(1) {
    animation: close1 0.3s ease-in-out forwards;
  }
  nav .header .menu_closed hr:nth-child(2) {
    animation: close2 0.3s ease-in-out forwards;
  }
  nav .header .menu_closed hr:nth-child(3) {
    animation: close3 0.3s ease-in-out forwards;
  }
  nav .nav_links {
    flex-direction: column;
    gap: 0;
    width: 100%;
    align-items: center;
    margin: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
  nav .nav_links .nav_link {
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }
  .panel {
    aspect-ratio: 3/2;
  }
  .panel .img {
    background-size: cover;
  }
  .panel h2 {
    font-size: 2.5rem;
  }
  .panel p {
    font-size: 1rem;
  }
  .recipes .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .recipes .cards .card {
    min-width: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
  }
}
@media (hover) {
  .nav_link span {
    position: relative;
  }
  .nav_link span::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    background-color: rgb(31, 122, 140);
    transition: all 0.2s ease-in-out;
    line-break: unset;
  }
  .nav_link:hover span::after {
    left: 0;
    width: 100%;
  }
  .panel:hover .img {
    transform: scale(1.02);
  }
  .recipes .cards .card:hover .img {
    transform: scale(1.05);
  }
}
/* animation */
@keyframes open1 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(45deg) translate(5px, 5px);
  }
}
@keyframes open2 {
  0% {
    transform: none;
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes open3 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
@keyframes close1 {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    transform: none;
  }
}
@keyframes close2 {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: none;
  }
}
@keyframes close3 {
  0% {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  100% {
    transform: none;
  }
}
@keyframes slide_down {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: none;
  }
}
@keyframes slide_up {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-120%);
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* nav styling ends*//*# sourceMappingURL=style.css.map */